{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Python Blog</title>
    <link rel="stylesheet" href='{% static "css/blog.css" %}'>
</head>

<body>
    <header id="header">Python Blog</header>
    <main>
        <article id="blog-posts">
            {% block content %}
            {% endblock %}
        </article>
    </main>
</body>

</html>