{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Python Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Playfair+Display+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "css/blog.css" %}'>

</head>

<body>
    <header id="header">
        <h1><a href="{% url 'home' %}"> Python Blog </a></h1>
        <div class="header-menu">
            {% if user.is_authenticated %}
            <a class="add-post" href="{% url 'post_new' %}">
                <i class="fas fa-plus-square fa-2x"></i>
            </a>
            {% endif %}
        </div>
    </header>

    <main>
        <section id="about">
            This is a website I built using Python and Django.
            On this site you can view blog posts
            (and if you are an admin edit and make new posts).
            <a href="https://github.com/Heartheater/python-blog">Link to Source Code</a>
        </section>
        <article id="blog-posts">
            {% block content %}
            {% endblock %}
        </article>
    </main>
</body>

</html>